body{
    display: flex;
    flex: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.quiz-options{
    display: flex;
    flex: auto;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 5px gray solid;
    border-radius: 10px;
    width: auto;
    align-content: center;
}
.quiz-options #category-sort,.difficulty-sort,#nQuestions,button{
    margin: 10px;
}
.quiz-app{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
}
.quiz-info{
    display: flex;
    flex: auto;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    border: 5px gray solid;
    border-radius: 10px;
    width: auto;
    text-transform: capitalize;
}
.count,.category{
    margin: 20px;
}
.question-area{
    background: ivory;
    margin: 20px;
    border: grey solid 5px;
    padding: 5px;
    width: 500px;
    border-radius: 10px;
}
.question-area h2{
    padding-left: 30px;
    text-align: start;
    width: auto;
}
.answers-area{
    background: ivory;
    margin: 10px;
    border: grey solid 5px;
    padding: 5px;
    width: 500px;
    border-radius: 10px;
}
.answer{
    margin: 10px;
    border: ivory solid 5px;
    padding: 5px;
    text-align: start;
    border-radius: 10px;
    padding-left: 30px;
}

.answer input, label.checked{
    color:blue;
}
.quiz-app .bullets .spans span{
    display: inline-block;
    background-color: gray;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: grey solid 5px;
    margin: 2px;
}
.bullets .spans span.on{
    background-color:steelblue;
    border: steelblue solid 5px;
}
.submit-btn{
    width: 200px;
    padding: 3px;
    margin: 10px;
    text-align: center;
    background: ivory;
    border: grey solid 2px;
    border-radius: 10px;
}
.bullets{
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border: 5px gray solid;
    border-radius: 10px;
    width: auto;
    min-width: 80%;
}
.spans,.countdown{
    margin: 10px;
}
.waiting{
    border: rgb(179, 175, 175) 5px solid;
    border-radius: 20px;
    margin-top: 20%;
    padding: 20px;
    width: auto;
    min-width: 500px;
}